section{
  border-top: 1px solid #d5d5d5;
  padding: 50px;
}

img {
  display: block;
  margin: 0 auto;
  width: 190px;
}

span { 
    font-weight: bold;
}

h1 {
  font-weight: bold;  
  font-size: 32px;
  font-family: 'Tamoha', serif;
  text-align: center;
  margin-top: 0;
  color: #000000;
}

p {
    font-size: 16px;
    width: 930px;
    margin: 15px auto 30px auto;
}

a {
 
  display: block;
  font-size: 14px;
  border-radius: 25px;
  padding: 10px 30px;
  background-color: #49b970;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  margin: 0 auto;

}


h2 {
  font-weight: bold; 
  font-size: 24px;
  text-align: center;
}

h3 {
  font-weight: bold; 
  font-size: 18px;
  text-align: center;
}

h4 {
  font-weight: bold; 
  text-align: center; 
}

* {
  padding: 0%;
  margin: 0%;
  font-family: 'Tamoha', serif;
}

